:root {
    --white: #fff;
    --main-white: #fafafa;
    --accent-one: #007ae8;
    --accent-two: #1c60e1;
    --main-black: #050405;
    --accent-light-grey: #ededed;
    --accent-dark-grey: #727272;
}